.green{
    border: 1px solid green;
}
.red{
    border: 1px solid red;
}
.grey{
    border: 1px solid grey;
}
.blue{
    border: 1px solid blue;
}
.yellow{
    border: 1px solid yellow;
}
.white{
    border: 1px solid white;
}


