@font-face {
    font-family: 'agressiveleenx';
    src: url('../fonts/AGRESSIVE.otf') format('opentype'),

  }

  @font-face {
    font-family: 'papyrusleenx';
    src: url('../fonts/PAPYRUS.TTF') format('opentype'),

  }

  @font-face {
    font-family: 'poppinsbold';
    src: url('../fonts/Poppins-Bold.ttf') format('opentype'),

  }

  @font-face {
    font-family: 'maiandraleenx';
    src: url('../fonts/MAIAN.TTF') format('opentype'),

  }

  @font-face {
    font-family: 'josefinleenx';
    src: url('../fonts/JosefinSlab-VariableFont_wght.ttf') format('opentype'),

  }