/* color varriables */


/* Leenx solutions 2024 */
body, html {
    height: 100%;
    margin: 0;    
    max-width: 99%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #1f1f25, #17191C, #121416);
}
.full-body{
    width: 100%;
    height: 100%;
    min-height: 99%;
    min-width: 99%;
    margin: auto;
    overflow-y: auto;
}
.full-body::-webkit-scrollbar{
    display: none;
}

  
.head{
    height: 75px;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    margin: auto;
    max-width: 1200px;
    border-bottom: 1px solid rgb(65, 65, 65);
}
.head1,.head2,.head3{
    width: 32%;
    margin: auto;
    height: 100%;
    display: flex;
}
.logo{
    height: 40px;
    width: 48px;
    margin-top: 15px;
    margin-bottom: auto;
    margin-right: 20px;
    margin-left: 50px;
}
.title{
    width: 75%;
}
.title-top{
    padding-top: 15px;
    height: auto;
    font-family: 'agressiveleenx',sans-serif;
    font-size: x-large;
    color: rgb(21, 201, 247);
}
.title-bottom{
    height: 30%;
    font-family: 'papyrusleenx',sans-serif;
    font-size: medium;
    color: rgb(255, 80, 202);
    margin-top: -10px;
    text-align: center;
}
#settings{
    margin-top: 9px;
}
.cont{
    min-height: 85%;
    height: auto;
    max-width:1000px;
    display: flex;
    margin: auto;
    
}
.first,.second,.third{
    display: block;
    width: 100%;
}
.third{
    overflow-x: hidden;
}
.third::-webkit-scrollbar{
    display: none;
}

.header{
    margin-top: 30px;
    height: 60px;
    display: none;
}

.location{
    width: 70%;
    display: flex;
}
.location-cont{
    display: flex;
    width: auto;
    max-width: 80%;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
}
.location-icon{
    height: 100%;
    width: 20px;
    padding-top: 10px;
}
.location-name{
    margin-left: 5px;
    font-family: 'poppinsbold',sans-serif;
    color: #cccccc;
    padding-top: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: larger;

}
.menu{
    width: 10%;
    margin-left: 5px;
    padding-top: 15px;
    padding-left: 6px;
    cursor: pointer;
}
.homebody{
    height: auto;
    margin-top: 50px;
}
.home-icon{
    width: 80%;
    margin: auto;
    min-width: 150px;
    height: 200px;    
    padding-left: 65px;
    display: flex;
}
.home-icon-pic{
    height: 170px;
    width: 170px;
    margin: auto;
    margin-left: 20px;
}
.icon-glow{
    width: 1px;
    height: 1px;
    border-radius: 50%;
    top:35%;
    left: 45%;
    box-shadow: 0 0 80px 30px rgba(137, 255, 190, 0.863);
}

.home-reading{
    width: 90%;
    min-width: 200px;
    height: 150px;
    margin: auto;
    display: flex;
    color: #cccccc;
    font-family: 'maiandraleenx',sans-serif;
    font-weight: bolder;
}
#temp{
    font-size: 100px;
    margin-right: 5px;
}
.degree-reading{
    font-size: 30px;
    padding-top: 40px;
    margin-right: 3px;
}
#temp-unit{
    margin-right: auto;
    font-size: 30px;
    margin-top: 30px;
}
.home-subreading{
    height: 40px;
    max-width:90%;
    text-align: center;
    color: #a8a8a8;
    margin: auto;
    margin-top: -15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'josefinleenx',sans-serif;
    font-size: 25px;
}
.more-values{
    height: 200px;
    display: flex;
}
.more-values-inner{
    width: 95%;
    margin: auto;
    height: 80px;
    border-radius: 30px;
    display: flex;
    background: #1F2227;

}
.more-values-1,.more-values-2,.more-values-3{
    width: 30%;
    margin: auto;
}
.more-values-s{
    height: 35px;
    border-left: 1px solid rgb(78, 78, 78);
    margin: auto;
}
.more-values-limiter{
    width: 75%;
    margin: auto;
    height: 50px;
    margin-top: -5px;
}
.more-values-icon{
    height: 25px;
    width: 25px;
    display: flex;
    margin: auto;
    margin-top: -10px;
}
.more-values-bold{
    width: 100%;
    text-align: center;
    height: auto;
    font-family: 'poppinsbold',sans-serif;
    color: #cccccc;
    margin-top: -4px;
}
.more-values-faint{
    text-align: center;
    font-family: 'poppinsmedium',sans-serif;
    font-size: small;
    color: #838383;
    margin-top: -3px;
}
.bottom-tiles{
    height: 300px;
    padding-top: 10px;
}
.bottom-tiles-top{
    height: 20%;
    max-height: 40px;
    display: flex;
}
.tiles{
    width: 20%;
    height: 100px;
    border-radius: 20px;
    margin: auto;
    background-color: #1B1D23;
    border:  1px solid rgb(49, 49, 49);
    background: linear-gradient(to bottom,#1F2227,#1F2227,#272a30,#1F2227,#1F2227);
}
#now{
    background: linear-gradient(to bottom, #4EBFFE,#3A98FB,#3583F1, #1a5cc7);
    
}

.tiles-top{
    height: 25%;
    text-align: center;
    font-family: 'poppinsbold',sans-serif;
    color: #cccccc;
    font-size: 20px;
    padding-top: 10px;
}
.tiles-mid{
    height: 30px;
    width: 30px;
    margin: auto;
    margin-top: 3px;
}
.tiles-bottom{
    height: 20%;
    margin-top: 5px;
    text-align: center;
    font-family: 'poppinsmedium',sans-serif;
    color: #6d6d6d;
    font-size: small;
    font-weight: bold;
}
.bottom-tiles-cont{
    height: 80%;
    max-height: 150px;
    display: flex;
}
.now{
    color: rgb(240, 240, 240);
}
.today{
    width: auto;
    padding-left: 10px;
    padding-top: 3px;
    margin-right: auto;
    color: #cccccc;
    font-family: 'poppinsbold',sans-serif;
}
.week{
    width: auto;
    padding-right: 15px;
    padding-top: 3px;
    color: #5c5c5c;
    font-family: 'poppinsbold',sans-serif;
    font-weight: lighter;
    cursor: pointer;
    display: none;
}

.history{
    height: auto;
    min-height: 250px;
    max-height: 500px;
    padding-top: 20px;
}

  .history-cont{
    width: 95%;
    height: 35px;    
    display: flex;
    margin: auto;
    margin-left: 70px;
    margin-top: 15px;
    
  }
  .history-in{
    padding-left: 5px;
    padding-right: 5px;
    height: 100%;
    display: flex;
    color: #b3b3b3;
    font-family: 'poppinsbold',sans-serif;
    padding-top: 10px;
    
  }
  .history-in:first-child{
    width: 35px;
    height: 30px;
  }
  .history-in:last-child{
    width: 95px;
    font-family: 'josefinleenx',sans-serif;
    font-weight: bold;
    padding-top: 15px;
    height: 25px;
  }
  .remainder{
    width: auto;
    min-width: 120px;
    height: 30px;
    padding-left: 15px;
    
  }
  .week-subreading{
    margin-left: 5px;
  }
  .week-logo{
    min-height: 25px;
    min-width: 25px;
    margin-right: auto;
  }
.days{
    margin-right: auto;
    margin-left: 4px;
}




.footer{
    height: 100px;
    width: 100%;
    max-width: 500px;
    display: flex;
    margin: auto;
    background-color: #121416;
}


#back{
    margin-top: 5px;
}










/* Mobile devices - general */

@media screen and (max-width:950px){
    .head{
        display: none;
    }
    .header{
        height: 50px;
        display: flex;
        padding-left: 20px;
        padding-right: 20px;
    }
    .logo{
        margin-left: 5px;
        margin-right: 0px;
    }
    .cont{
        display: block;
        max-width:350px;
    }
    .week{
        display: flex;
    }
    .homebody{
        margin-top: 30px;
    }
    .home-reading{
        margin-top: -15px;
    }
    .more-values{
        margin-top: 10px;
        height: 100px;
    }
    .bottom-tiles{
        height: 150px;
    }
    .history{
        display: none;
    }
    .history-cont{
        width: 100%;
        margin-left: 7%;
    }



    .footer{
        display: none;
    }
}

/* Long phones like latest iphones and pixels */

@media screen and (max-width:500px) and (max-height:940px){

    .homebody{
        margin-top: 80px;
    }
    .more-values{
        margin-top: 40px;
    }
    .bottom-tiles{
        margin-top: 30px;
    }
}

/* Older phones */
@media screen and (max-width:500px) and (max-height:850px){
    .header{
        margin-top: 10px;
    }
    .homebody{
        margin-top: 20px;
    }
    .more-values{
        margin-top: 0px;
    }
    .history-cont{
        width: 85%;
        margin-left: 13%;
    }
    .bottom-tiles{
        margin-top: 0px;
    }
}